body {
    font-family: 'Arial', sans-serif;
    background-color: #f6ecf9de; /* Light purple background */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    color: #333;
}

.header {
    width: 100%;
    padding: 20px;
    background-color: #9575cd; /* Lavender header background */
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 80px; /* Adjust size as needed */
    height: auto; /* Maintain aspect ratio */
    background-color: transparent; /* Transparent background */
    margin-left: 20px; /* Add left padding for the logo */
    border-radius: 15px;
}

h1 {
    margin: 0;
    font-size: 2em;
}

#connect {
    margin-top: 10px; /* Add margin to create space between heading and button */
    margin-right: 20px; /* Add right padding for the button */
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    padding: 20px;
}

.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px;
    width: 80%;
    max-width: 300px;
    text-align: center;
}

h2 {
    color: #673ab7; /* Dark purple heading color */
}

button {
    background-color: #7e57c2; /* Lavender button color */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 10px 5px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #5e35b1; /* Darker lavender on hover */
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin: 10px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
}

p {
    font-size: 14px;
    color: #555;
}
